<div class="card">
    <div class="card-header">Home</div>
    <div class="card-body">
        <h2>Praesent magna</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sapien ex, sagittis sed risus nec, pellentesque vestibulum velit. Sed diam lectus, aliquam ac lacus id, eleifend finibus metus. Ut eu urna suscipit, dapibus nibh id, placerat lectus. Nulla magna elit, vestibulum pretium lorem sed, facilisis auctor orci. Curabitur et nunc eu felis fringilla consectetur. Pellentesque ac euismod mauris, sed finibus nisi. Phasellus et leo vehicula metus mollis rhoncus nec a tortor. Phasellus commodo sed lorem quis imperdiet. Sed sit amet posuere turpis.</p>
    </div>
</div>
